# --extra-index-url https://download.pytorch.org/whl/cu113 torch==1.12.1+cu113 torchvision==0.13.1+cu113 torchaudio==0.12.1 
datasets
rouge_score
accelerator==2023.3.10.dev1
git+https://github.com/huggingface/transformers.git@fecf08560cd9843b569279dd6f665c987890af4c
deepspeed==0.9.1
tensorboard
SentencePiece
accelerate==0.23.0
